# =========================
# Virtual environments
# =========================
myenv/
venv/

# =========================
# Environment variables
# =========================
.env

# =========================
# Python cache
# =========================
__pycache__/
**/__pycache__/
*.pyc
.pytest_cache/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Redis
# =========================
dump.rdb

# =========================
# Neo4j local data
# =========================
neo4j/data/

# =========================
# Temporary files
# =========================
*.tmp
~$*

# =========================
# Extracted duplicate files
# =========================
*_extracted.txt

# =========================
# Large datasets
# =========================
dataset/*.csv

# =========================
# Training split files
# =========================
artifacts/train.csv
artifacts/test.csv
artifacts/val.csv